# Dependencies
node_modules/

# Environment variables
.env
.env*.local

# Build outputs
dist/
.next/
.expo/
*.tsbuildinfo

# Turbo
.turbo/

# Logs
logs
*.log
npm-debug.log*

# Editor
.idea
.vscode
*.sw?

# OS
.DS_Store

# Mobile
ios/
android/
